<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Spring EL 표현식</h1>
<ul> Object
    <li>${user.username} = <span th:text="${user.username}"></span></li> <!-- user의 username 프로퍼티 접근, user.getUsername() -->
    <li>${user['username']} = <span th:text="${user['username']}"></span></li> <!-- user.getUsername() -->
    <li>${user.getUsername()} = <span th:text="${user.getUsername()}"></span></li> <!-- getUsername() 직접 호출 -->
</ul>
<ul> List
    <li>${users[0].username} = <span th:text="${users[0].username}"></span></li> <!-- List의 0번째 User를 찾고 프로퍼티 접근, List.get(0).getUsername() -->
    <li>${users[0]['username']} = <span th:text="${users[0]['username']}"></span></li>  <!-- user.getUsername() -->
    <li>${users[0].getUsername()} = <span th:text="${users[0].getUsername()}"></span></li> <!-- getUsername() 직접 호출 -->
</ul>
<ul> Map
    <li>${userMap['userA'].username} = <span th:text="${userMap['userA'].username}"></span></li> <!-- Map의 userA key인 User를 찾고 프로퍼티 접근, Map.get("userA").getUsername() -->
    <li>${userMap['userA']['username']} = <span th:text="${userMap['userA']['username']}"></span></li>  <!-- user.getUsername() -->
    <li>${userMap['userA'].getUsername()} = <span th:text="${userMap['userA'].getUsername()}"></span></li> <!-- getUsername() 직접 호출 -->
</ul>
<h1>지역 변수 - (th:with)</h1>
<div th:with="first=${users[0]}">
    <p>처음 사람의 이름은 <span th:text="${first.username}"></span></p>
</div>
<div>
<ul>
<!--  spring 3.0 미만  -->
<!--    <li>request = <span th:text="${#request}"></span></li>-->
<!--    <li>response = <span th:text="${#response}"></span></li>-->
<!--    <li>session = <span th:text="${#session}"></span></li>-->
<!--    <li>servletContext = <span th:text="${#servletContext}"></span></li>-->
</ul>

</div>
</body>
</html>